<nav>





    {{#if listaPeliculas}}
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-6 mx-auto">
                <div class="alert alert-dark" role="alert">
                    Cantidad de resultados: {{listaPeliculas.length}} de {{resultados}}

                </div>
            </div>

        </div>

    </div>
    {{/if}}
</nav>
</div>


<div class="container w-50 pt-3 bg-dark">
    <ul class="nav justify-content-center">
        <form action="/bla" id="filtrar" method="post" class="border border-secondary     border-left-0 ">
            <input type="submit" form="filtrar" formmethod="post"
                class="text-warning font-weight-bold alert-warning bg-dark" data-toggle="tooltip" data-placement="right"
                title="Pick a year and filter 10 results." value="Filter">

            <select class="text-warning font-weight-bold alert-warning bg-dark border-dark" name="anio">
                <option value="" selected>PICK A YEAR</option>
                {{#each anios}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <input type="hidden" name="busqueda" value="{{pedido}}">
        </form>
    </ul>
    <hr>
    {{#grouped_each 3 listaPeliculas}}

    <div class="row no-gutters justify-content-around ">
        <div class="card-deck">
            {{#each this }}
            <div class="card mb-4 carta position-relative" style="min-width: 18rem; max-width: 18rem;">

                {{#if this.Type}}
                <input type="submit" form="form{{this.imdbID}}{{this.Title}}" formmethod="post"
                    class="text-warning font-weight-bold alert-warning bg-dark" data-toggle="tooltip"
                    data-placement="right" title="Lookup detailed info of this {{this.Type}}!" value="More Info">
                {{else}}
                <p class="text-warning font-weight-bold alert-error bg-danger    text-align-center">Games do not have
                    more
                    info</p>
                {{/if}}
                <div class="embed-responsive embed-responsive-1by1">
                    <img class="card-img-top embed-responsive-item" src="{{this.Poster}}" alt="No Imagen">
                </div>




                <div class="card-body">
                    <h5 class="card-title">{{this.Title}}</h5>
                    <p class="card-text">{{this.Year}}</p>


                    {{#if this.Type}}
                    <p class="card-text text-uppercase">{{this.Type}}</p>
                    {{else}}
                    <p class="card-text text-uppercase">game</p>
                    {{/if}}



                    <p class="card-text"><small class="text-muted"><span class="imdbRatingPlugin" data-user=""
                                data-title="{{this.imdbID}}" data-style="p2"><a
                                    href="https://www.imdb.com/title/{{this.imdbID}}/?ref_=plg_rt_1"><img
                                        src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/images/imdb_38x18.png"
                                        alt="{{this.Title}}" />
                                </a></span></small></p>
                    <form action="/bla" id="form{{this.imdbID}}{{this.Title}}" method="post">
                        <input type="hidden" name="titulo" value="{{this.Title}}">
                        <input type="hidden" name="idmb" value="{{this.imdbID}}">
                        <input type="hidden" name="anio" value="{{this.Year}}">
                    </form>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    {{/grouped_each}}

</div>



<script>(function (d, s, id) { var js, stags = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) { return; } js = d.createElement(s); js.id = id; js.src = "https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js"; stags.parentNode.insertBefore(js, stags); })(document, "script", "imdb-rating-api");</script>