<div class="container">
    <main class="bg-dark">

        <div class="row no-gutters">
            <div class="col-md">
                <div class="card carta" style="width: 18rem;">
                    <img src="{{pelicula.Poster}}" class="shadow-lg card-img-top" alt="Imagen de la peli">
                    <div class="card-body carta">
                        <p class="card-title">{{pelicula.Title}}</p>
                        <p class="card-text">{{pelicula.Plot}}</p>
                        <p class="card-text">{{pelicula.Type}}</p>
                    </div>
                    <ul class="list-group list-group-flush carta">
                        <li class="list-group-item">{{pelicula.Year}}</li>
                        <li class="list-group-item">{{pelicula.Genre}}</li>
                        <li class="list-group-item">{{pelicula.Released}}</li>
                        <li class="card-text">{{pelicula.Rated}}</p>
                        <li class="card-text">{{pelicula.Runtime}}</p>
                        <li class="card-text">{{pelicula.Production}}</p>
                        <li class="card-text">{{pelicula.Director}}</p>
                        <li class="card-text">{{pelicula.Writer}}</p>
                        <li class="card-text">{{pelicula.Actors}}</p>
                        <li class="card-text">{{peliculaLanguage}}</p>
                        <li class="card-text">{{pelicula.Country}}</p>
                        <li class="card-text">{{pelicula.Metascore}}</p>
                        <li class="card-text">{{pelicula.imdbVotes}}</p>
                    </ul>
                    <div class="card-body">
                        <a href="{{pelicula.Website}}" class="card-link">Website</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>